:root {
  --primary-color: #0066cc;
  --secondary-color: #3399ff;
  --background-color: #ffffff;
  --card-background: #f0f8ff;
  --text-color: #333333;
  --header-color: #004080;
  --hover-color: #0052a3;
}

.above_body{
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
}

.banner{
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 10px;
}

.button{
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.search_bar{
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
    transition: border-color 0.3s ease;
}

.body_boundary{
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
}

.body_wrapper{
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breadcrumbs{
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: left;
    margin-top: 50px;
}

.breadcrumbs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.breadcrumbs li {
  margin-right: 10px;
}
.above_threads{
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: left;
    margin-top: 50px;
}