<!DOCTYPE html>
<html>
    <head>
        <title>Forum</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <div class="banner">
            <img class="banner-image" src="/static/images/Reboot-Logo.png" a="index.html">
        </div>
        <div class="navbar">
                <button class="navbar-button" a="index.html">Home</button>
                <button class="navbar-button" a="index.html">Latest</button>
                <button class="navbar-button" a="index.html">FAQ</button>
                <form class="navbar-search" action="/search" method="post">
                    <input class="navbar-search" type="text" placeholder="Search">
                    <button class="navbar-search" type="submit">Search</button>
                </form>
        </div>
        <div class="forum-bits">
            <form class="forum-bits" action="/post" method="get">
                <select id="categories" name="categories" onchange="submitForm()">
                    <option value="" disabled selected>Categories</option>
                    <option value="Info">Value</option>
                    <option value="op2">op2</option>
                    <option value="op3">op3</option>
                    <option value="op4">op4</option>
                </select>
            </form>
            <button class="forum-bits-button" a="index.html">Categories</button>
            <button class="forum-bits-button" a="index.html">Latest</button>
            <button class="forum-bits-button" a="index.html">Top</button>
        </div>
        <div class="subforum">

                <table>
                    <thead>
                        <th>Category</th>
                        <th>Topics</th>
                        <th>Latest</th>
                    </thead>
                    <tbody>
                    <tr>
                        <div class="subforum-title">
                            <td class="Category">
                                <h3> 
                                    <a href="/subforum">
                                        <div class="category-title">
                                            <span>Welcome</span>
                                        </div>
                                        <div class="category-image">
                                            <img src="/static/images/Welcome.jpg">
                                        </div>
                                    </a>
                                </h3>
                                <div class="subcategories">

                                    <span class="subcategory">
                                        <a class="badge-categpry" href="/subforum/1">
                                            <span class="subcategory-title">
                                                <span class="subcategory-name">
                                                    Welcome
                                                </span>
                                            </span>
                                        </a>
                                    </span>

                                    <span class="subcategory">
                                        <a class="badge-categpry" href="/subforum/1">
                                            <span class="subcategory-title">
                                                <span class="subcategory-name">
                                                    Announcements
                                                </span>
                                            </span>
                                        </a>
                                    </span>

                                    <span class="subcategory">
                                        <a class="badge-categpry" href="/subforum/1">
                                            <span class="subcategory-title">
                                                <span class="subcategory-name">
                                                    Information
                                                </span>
                                            </span>
                                        </a>
                                    </span>

                                    <span class="subcategory">
                                        <a class="badge-categpry" href="/subforum/1">
                                            <span class="subcategory-title">
                                                <span class="subcategory-name">
                                                    Events
                                                </span>
                                            </span>
                                        </a>
                                    </span>

                                </div>
                            </td>
                            <td class="topics">
                                <span class="post-count">294</span>
                                 / 
                                <span class="post-unit">week</span>
                            </td>
                        </div>
                        <div class="subforum-posts">
                            <td class="latest-posts">

                                <div class="last-post">

                                    <div class="poster">
                                        <a href="/user/1">
                                            <img src="/static/images/user1.PNG">
                                        </a>
                                    </div>

                                    <div class="main-post">
                                        <div class="post-title">
                                            <a href="/post/1">Welcome to Reboot</a>
                                        </div>
                                        <div class="post-subcategory">
                                            <a class="badge-category" href="/subforum/1">
                                                <span class="subcategory-title">
                                                    <span class="subcategory-name">
                                                        Welcome
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="post-stats">
                                        <div class="replies-num">Replies: 39</div>
                                        <div class="post-date">Post Date: 17th Oct 2024</div>
                                        <div class="last-activity">Last Activity: 8 min</div>
                                    </div>

                                </div>

                                <div class="last-post">

                                    <div class="poster">
                                        <a href="/user/1">
                                            <img src="/static/images/user1.PNG">
                                        </a>
                                    </div>

                                    <div class="main-post">
                                        <div class="post-title">
                                            <a href="/post/1">Next JS Piscene!</a>
                                        </div>
                                        <div class="post-subcategory">
                                            <a class="badge-category" href="/subforum/1">
                                                <span class="subcategory-title">
                                                    <span class="subcategory-name">
                                                        Announcements
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="post-stats">
                                        <div class="replies-num">Replies: 150</div>
                                        <div class="post-date">Post Date: 17th Oct 2024</div>
                                        <div class="last-activity">Last Activity: 10 min</div>
                                    </div>

                                </div>

                                <div class="last-post">

                                    <div class="poster">
                                        <a href="/user/1">
                                            <img src="/static/images/user1.PNG">
                                        </a>
                                    </div>

                                    <div class="main-post">
                                        <div class="post-title">
                                            <a href="/post/1">Valorant Tournament</a>
                                        </div>
                                        <div class="post-subcategory">
                                            <a class="badge-category" href="/subforum/1">
                                                <span class="subcategory-title">
                                                    <span class="subcategory-name">
                                                        Events
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="post-stats">
                                        <div class="replies-num">Replies: 15</div>
                                        <div class="post-date">Post Date: 16th Oct 2024</div>
                                        <div class="last-activity">Last Activity: 2 hours</div>
                                    </div>

                                </div>

                            </td>
                        </div>
                    </tr>
                </tbody>
                </table>
            </div>

        </div>
    </body>
</html>