<!DOCTYPE html>
<html>
    <head>
        <title>Forum</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
    <body>
        <div class="above_body">

            <div class="banner">
                <header>
                    <h1>BANNER</h1>
                </header>
            </div>

            <div class="navbar">
                <a href="login.html" class="button">Log In</a>
                <a href="today.html" class="button">Today's Posts</a>
                <a href="faq.html" class="button">FAQ</a>
                <form action="/search" method="post">
                    <input type="text" name="search" placeholder="Search" class="search_bar">
                    <button type="submit" class="button">Search</button>
                </form>
            </div>

        </div>

        <div class="body_boundary">
            <div class="body_wrapper">

                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                    </ul>
                </div>

                <div class="above_threads"></div>

                <div class="pagetitle">
                    <h1>Forum</h1>
                    <p>Welcome to Reboot01 Forums!</p>
                </div>

                <div class="forumbits">

                    <div class="forumhead">
                        <h2>
                            <span class="forumtitle">Sub-forums</span>
                            <span class="forumlastpost">Last Post</span>
                        </h2>
                    </div>

                    <ol>

                        <li class="forumbit_head L1">

                            <div class="forumhead foruminfo L1">
                                <h2>
                                    <span class="forumtitle">Information</span>
                                </h2>
                            </div>

                            <ol class="childforum">

                                <div class="forumrowdata">
                                    <p class="subforum_description">
                                        <a href="Welcome.html">Welcome</a>
                                         / 
                                        <a href="Rules.html">Rules</a>
                                        / 
                                        <a href="FAQ.html">FAQ</a>
                                        / 
                                        <a href="anouncements.html">Announcements</a>
                                        / 
                                        <a href="events.html">Events</a>
                                        / 
                                        <a href="information.html">General Information</a>
                                    </p>
                                </div>

                                <li class="forumbit_post L2">
                                    <div class="forumrow table">

                                        <div class="foruminfo tabledata">
                                            <a href="Welcome.html">Welcome</a>
                                        </div>

                                        <div class="forumstat tabledata">
                                            <ul>
                                                <li> Threads: 104</li>
                                                <li> Posts: 253</li>
                                            </ul>
                                        </div>
                                        <div class="forumlastpost tabledata">
                                            <p class="lastpost_title">Welcome to Reboot01!</p>
                                            <p class="lastpost_by"> by Mohamed Saeed</p>
                                            <p class="lastpost_date">20-09-2024 4:27 AM</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="forumbit_post L2">
                                    <div class="forumrow table">

                                        <div class="foruminfo tabledata">
                                            <a href="Welcome.html">Rules</a>
                                        </div>

                                        <div class="forumstat tabledata">
                                            <ul>
                                                <li> Threads: 10</li>
                                                <li> Posts: 10</li>
                                            </ul>
                                        </div>
                                        <div class="forumlastpost tabledata">
                                            <p class="lastpost_title">Reboot01 Rules</p>
                                            <p class="lastpost_by"> by Mohamed Saeed</p>
                                            <p class="lastpost_date">20-09-2024 4:27 AM</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="forumbit_post L2">
                                    <div class="forumrow table">

                                        <div class="foruminfo tabledata">
                                            <a href="Welcome.html">FAQ</a>
                                        </div>

                                        <div class="forumstat tabledata">
                                            <ul>
                                                <li> Threads: 20</li>
                                                <li> Posts: 50</li>
                                            </ul>
                                        </div>
                                        <div class="forumlastpost tabledata">
                                            <p class="lastpost_title">How to join Reboot01</p>
                                            <p class="lastpost_by"> by Mohamed Saeed</p>
                                            <p class="lastpost_date">20-09-2024 4:27 AM</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="forumbit_post L2">
                                    <div class="forumrow table">

                                        <div class="foruminfo tabledata">
                                            <a href="Welcome.html">Announcements</a>
                                        </div>

                                        <div class="forumstat tabledata">
                                            <ul>
                                                <li> Threads: 260</li>
                                                <li> Posts: 600</li>
                                            </ul>
                                        </div>
                                        <div class="forumlastpost tabledata">
                                            <p class="lastpost_title">Reboot01 Talent Hub</p>
                                            <p class="lastpost_by"> by Mohamed Saeed</p>
                                            <p class="lastpost_date">20-09-2024 4:27 AM</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="forumbit_post L2">
                                    <div class="forumrow table">

                                        <div class="foruminfo tabledata">
                                            <a href="Welcome.html">Events</a>
                                        </div>

                                        <div class="forumstat tabledata">
                                            <ul>
                                                <li> Threads: 104</li>
                                                <li> Posts: 253</li>
                                            </ul>
                                        </div>
                                        <div class="forumlastpost tabledata">
                                            <p class="lastpost_title">Chess Tournament</p>
                                            <p class="lastpost_by"> by Mohamed Saeed</p>
                                            <p class="lastpost_date">20-09-2024 4:27 AM</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="forumbit_post L2">
                                    <div class="forumrow table">

                                        <div class="foruminfo tabledata">
                                            <a href="Welcome.html">General Information</a>
                                        </div>

                                        <div class="forumstat tabledata">
                                            <ul>
                                                <li> Threads: 104</li>
                                                <li> Posts: 253</li>
                                            </ul>
                                        </div>
                                        <div class="forumlastpost tabledata">
                                            <p class="lastpost_title">Reboot01 Student Plan</p>
                                            <p class="lastpost_by"> by Mohamed Saeed</p>
                                            <p class="lastpost_date">20-09-2024 4:27 AM</p>
                                        </div>
                                    </div>
                                </li>

                            </ol>
                        </li>

                    </ol>

                </div>

            </div>
        </div>

        <div class="below_body">
        </div>
    </body>
</html>